h1{
    width: 455px;
    height: 44px;
    margin-left: 80px;
    margin-top: 25px;
    font-size: 36px;
    color: #000000;
}
.all{
    display: flex;
    flex-wrap: wrap;
    margin-left: 80px;
    margin-top: 41px;
}

.Forma{
    border-radius: 4px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-right: 40px;
    margin-bottom: 40px;

}
.All-button{
    display: flex;
    flex-wrap: wrap;
}

.button-more{
    padding: 6px 38px;
    margin-right: 16px;
    border-radius: 6px;
    font-size: 18px;
    background: #0560E8;
    border: 1px solid #0560E9;
    color: white;
    margin-left: auto;
    margin-bottom: 16px;
    font-family: 'Roboto', sans-serif;

}
.button-delete{
    padding: 6px 28px;
    font-size: 18px;
    color: #5798F9;
    border: 1px solid #5798F9;
    background: white;
    border-radius: 6px;
    margin-left: 16px;
    margin-bottom: 16px;
    font-family: 'Roboto', sans-serif;

}
.image{
    height: 200px;
    margin: 16px 16px 0px 16px; 
}
.orange-white{

    width: 288px;
    height: 29px;
    line-height: 33px;
    font-size: 24px;
    color: #000000;
    margin-left: 16px;
    margin-top: 24px;
    position: relative;
    left: -83px;
  

   
  

}
.Texst{
    width: 266px;
    height: 102px;
    font-size: 14px;
    color: #000000;
    margin: 12px 38px 49px 16px;

}
